{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}!</h1>
{% endblock %}

{% block body_fluid %}
    <table class="table table-hover">
        <thead>
        <tr>
            {% for interval in time_intervals %}
                <th scope="col" class="text-center">{{ interval.from.toMysql() }} <br/>-<br/> {{ interval.to.toMysql() }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for id, day in time_table.timeTableSchema %}
            <tr>
                {% for interval in day %}
                    {% if not interval.hasEmptyFields() %}
                        <td>
                            {{ interval.subject.indent }}<br/>
                            {{ interval.location.location }}<br/>
                            {{ interval.teacher.name }}<br/>
                        </td>
                    {% else %}
                        <td class="text-info">empty</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#{{ dump(form_data) }}#}
    {#{{ form_start(subjects_form) }}#}
    {#{{ form_row(subjects_form.subjects) }}#}
    {#{{ form_end(subjects_form) }}#}

{% endblock %}
