{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .timetableTable {
            text-align: center;
        }

        .timetableTableBlock {
            margin-bottom: 100px;
        }
    </style>
{% endblock %}

{% block title %}Result{% endblock %}
{% block h1 %}Time_Table_Builder result!
    <small class="text-muted">{{ time_tables|length }} variants for {{ form_subjects|length }} subjects</small>{% endblock %}

{% block body_fluid %}
    {% for time_table in time_tables %}
        <h5>

            index: {{ time_table.calculateIndex }},
            size: {{ time_table.subjects|length }}
            (
            {% for item in form_subjects %}
                {% if item.indent in time_table.subjects(true) %}
                    <a class="text-success" href="{{ path('subject', {'indent': item.getIndent}) }}">{{ item }}</a>
                {% else %}
                    <a class="text-danger" href="{{ path('subject', {'indent': item.getIndent}) }}">{{ item }}</a>
                {% endif %}
            {% endfor %}
            )
        </h5>

        <div class="timetableTableBlock">

            <table class="table table-hover timetableTable">
                <thead>
                <tr>
                    {% for interval in time_intervals %}
                        <th scope="col" class="text-center">{{ interval.from.toMysql() }} <br/>-<br/> {{ interval.to.toMysql() }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for id, day in time_table.timeTableSchema %}
                    {% set shouldHideDay = time_table.isDayEmpty(loop.index) and loop.index in [6,7] %}
                    {% if not shouldHideDay %}
                        <tr>
                            {% for interval in day %}
                                {% if interval is not null and not interval.hasEmptyFields() %}
                                    <td class="{% if interval.actionType == 'lecture' %}text-info{% else %}text-warning{% endif %}">
                                        {{ interval.subject.indent }}<br/>
                                        {{ interval.location.location }}<br/>
                                        {{ interval.teacher.name }}<br/>
                                    </td>
                                {% else %}
                                    <td class="text-muted">
                                        <small>empty</small>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endfor %}

{% endblock %}
