{% extends 'base.html.twig' %}

{% block title %}{{ status_code }}{% endblock %}
{% block h1 %}Oops! An Error Occurred{% endblock %}

{% block body %}
    <h4> The server returned {{ status_code }}</h4>
    <p>Message: {{ status_text }}</p>
    <p>Something is broken. We already know why this happened and we will fix it as soon as possible. Sorry for any inconvenience caused.</p>

    {% if app.user and is_granted('ROLE_DEV') %}
        <h4>Trace</h4>
        <p>message: {{ exception.message }}</p>
        <p>file: {{ exception.file }}</p>
        <p>line: {{ exception.line }}</p>
        <p>code: {{ exception.code }}</p>
        {% for trace in exception.trace %}
            <p>{{ trace|json_encode }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
